/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

/* GENERAL LAYOUT */

.container {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr repeat(3, 3fr);
    grid-template-rows: 1fr 3fr 15fr;
}

.sidebar {
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(218,150,55,1) 100%);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 5fr;
    gap: 2rem;
}

.searchbar {
    background-color: #ffffff;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    width: 60vw;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1.5rem;
}

.header {
    background-color: white;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    width: 61vw;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 0.7fr) 0.6fr;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.main-content {
    background-color: rgb(235, 236, 242);
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.8fr 1fr;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    box-shadow: -1px 7px 8px -5px rgba(0,0,0,0.43) inset;
    -webkit-box-shadow: -1px 7px 8px -5px rgba(0,0,0,0.43) inset;
    -moz-box-shadow: -1px 7px 8px -5px rgba(0,0,0,0.43) inset;

}

/* GENERAL SIZING AND WEIGHT */

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

li {
    font-size: 1.5rem;
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.profile-pic img {
    width: 4rem;
    border-radius: 50%;
}

li a:hover {
    text-decoration:underline;
}

/* SIDEBAR CONTENT STYLING */

.dashboard {
    align-self: center;
    padding-left: 3.8rem;
    padding-right: 7rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 10vw;
    cursor: pointer;
}

.dashboard img {
    width: 2.5rem;
    filter: invert(100%) sepia(1%) saturate(7455%) hue-rotate(38deg) brightness(106%) contrast(101%);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    padding-left: 4rem;
    color: white;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar li img {
    width: 2rem;
    filter: invert(100%) sepia(1%) saturate(7455%) hue-rotate(38deg) brightness(106%) contrast(101%);
}

.sidebar a:hover {
    transform: scale(1.05);
}

/* SEARCHBAR CONTENT STYLING */

.search-icon img{
    width: 2.3rem;
    cursor: pointer;
}

.searchbar-line {
    border-radius: 1rem;
    border-style: none;
    font-size: 1.3rem;
    background-color: rgb(234, 234, 234);
    min-width: 70px;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.searchbar-line:focus {
    border: 2px solid rgba(131, 58, 180, 0.623);
}

.notifications {
    grid-column: 4 / 5;
    cursor: pointer;
}

.notifications img {
    width: 2rem;
}

.profile-pic {
    grid-column: 5 / 6;
    font-size: 1.5rem;
    cursor: pointer;
}

.name {
    grid-column: 6 / 7;
    font-weight: 500;
    margin-left: 1rem;
    text-wrap: nowrap;
}

.searchbar a {
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}


/* HEADER CONTENT STYLING */

.header > .profile-pic {
    font-size: 3rem;
    grid-column: 1 / 2;
}

.header > .profile-pic img {
    width: 5rem;
}

.greetings {
    grid-column: 2 / 3;
}

.greetings > p {
    font-weight: 700;
}

.header > button {
    padding: 0.6rem;
    width: 5.5rem;
    justify-self: center;
    text-align: center;
    border-radius: 1rem;
    border-style: none;
    font-weight: 700;
    font-size: 0.94rem;
    color: white;
    background: rgba(131,58,180,1);

    cursor: pointer;
}

.header > button:hover {
    background: rgb(152, 58, 180) ;
    transform: scale(0.98);
    opacity: 0.7;
}

.header > button:active {
    transform: scale(0.94);
}

/* MAIN CONTENT STYLING */

.main-content h2 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.main-content p {
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.593);
}

/* YOUR PROJECTS */

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    border-left: 0.4rem solid rgb(255, 196, 0);
    padding: 1.5rem 1rem;
    box-shadow: -1px 7px 8px -5px rgba(0,0,0,0.20);
    -webkit-box-shadow: -1px 7px 8px -5px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 7px 8px -5px rgba(0,0,0,0.20);
}



.card h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 0rem;
    margin-bottom: 0.3rem;
}

.card h2:hover {
    opacity: 0.7;
    cursor: pointer;
}

.card img {
    width: 1.5rem;
    margin-left: 0.3rem;
}

.card img:hover {
    opacity: 0.6;
}

.project-icons {
    margin-top: 1rem;
    text-align: end;
}


/* ANNOUNCEMENTS */

.news {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.news-card-grid {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.news-card {
    padding-top: 1rem;
    padding-bottom: 1.5rem;

}

.middle {
    border-top: 2px solid rgba(0, 0, 0, 0.112);
    border-bottom: 2px solid rgba(0, 0, 0, 0.112);
}

.news-card h4:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* TRENDING */

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 1.5rem;
}

.trend-card-grid {
    display: grid;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
}

.trend-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.8rem 0rem;
    cursor: pointer;
align-items: center;
}

.trend-card:hover {
    opacity: 0.7;
}

.trend-card>.profile-pic {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 2rem;
}